<!DOCTYPE html>
<html>
<head>
    <title>Director Dashboard</title>
</head>
<body>
    <h1>Director Dashboard</h1>

    <h2>Set Daily Target</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Branch:</label>
        <select name="branch">
            {% for branch in branches %}
                <option value="{{ branch.id }}">{{ branch.name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label>Service Type:</label>
        <select name="service_type">
    <option value="SIM Registration">SIM Registration</option>
    <option value="SIM Swap">SIM Swap</option>
    <option value="SIM Upgrade">SIM Upgrade</option>
    <option value="GOTV">GOTV</option>
    <option value="DSTV">DSTV</option>
</select>

        <br><br>

        <label>Target Number:</label>
        <input type="number" name="target_number" required>
        <br><br>

        <label>Date:</label>
        <input type="date" name="date" value="{{ today }}">
        <br><br>

        <button type="submit">Save Target</button>
    </form>

    <hr>

    <h2>Saved Targets</h2>

    <table border="1">
        <tr>
            <th>Branch</th>
            <th>Service</th>
            <th>Target</th>
            <th>Date</th>
        </tr>
        {% for target in targets %}
        <tr>
            <td>{{ target.branch.name }}</td>
            <td>{{ target.service_type }}</td>
            <td>{{ target.target_number }}</td>
            <td>{{ target.date }}</td>
        </tr>
        {% endfor %}
    </table>
<h2>Director Overview</h2>

<div class="card">
    <strong>Total Target:</strong> {{ total_target }}<br>
    <strong>Total Achieved:</strong> {{ total_achieved }}<br>
    <strong>Overall %:</strong> {{ overall_percentage }}%
</div>

<h3>Top Performing Staff</h3>

{% for staff in top_staff %}
<div class="card">
    {{ staff.staff__username }} - {{ staff.total }}
</div>
{% endfor %}
</body>
</html>
